---
import Footer from '@components/Footer';
import Header from '@components/Header.astro';
import Title from '@components/Title';
import ThemePopulator from '@components/ThemePopulator';
import Cookies from 'universal-cookie';

const cookies = new Cookies(Astro.request.headers.get('cookie'));
const themeCookie = cookies.get('theme') as string;
const initialTheme = themeCookie ?? 'dark';

console.log(
  `Theme has initialized '${initialTheme}', referencing cookie's theme value '${themeCookie}'.`
);

const { title = undefined, desc = '' } = Astro.props;
const defaultTitle = 'bisquit';
const concatTitle = title ? `${title} - bisquit` : defaultTitle;
---

<html class:list={['h-full', { dark: initialTheme === 'dark' }]}>
  <head>
    <meta charset="utf-8" />
    <meta name="description" property="og:description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <title>{concatTitle}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"
    />
  </head>
  <body
    class="h-full dark:bg-slate-900 dark:text-white duration-300 leading-relaxed"
  >
    <div class="container mx-auto px-8 min-h-full flex flex-col">
      <Header />
      <header class="mt-16">
        <Title title={title} />
        {desc && <p>{desc}</p>}
      </header>
      <slot />
      <div class="mt-auto pt-32">
        <Footer />
      </div>
    </div>
    <ThemePopulator client:only="preact" />
  </body>
</html>
